# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider / JetBrains
.idea/

# Windows files
Thumbs.db
desktop.ini

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Others
*.log
*.cache
*.vs/
