<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="O8SS_WebRequest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <O8SS_WebRequest.Properties.Settings>
            <setting name="SavedCompany" serializeAs="String">
                <value>sfsl</value>
            </setting>
            <setting name="SavedUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedRemember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SavedAreaId" serializeAs="String">
                <value>-1</value>
            </setting>
        </O8SS_WebRequest.Properties.Settings>
    </userSettings>
</configuration>